@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff3f6c;
  --secondary: #282c3f;
}

body {
  @apply font-sans m-0 p-0 text-secondary bg-gray-50;
}

* {
  box-sizing: border-box;
}